<div>
  Progress bar
  <app-progrees-bar [progress]="counterProgress"></app-progrees-bar>
</div>
<div>
  Countdown
  <app-countdown #countDown
  [init] ="totalCountdown" (onDecrease)="upDateProgress($event)"
  (onComplete)="countdownFinished()"></app-countdown>
</div>
<div class="initInput">
  <label for="totalCountdown">Init on:</label>
  <input id="tCountdown" type="text" [(ngModel)]="totalCountdown">
</div>
<!-- <div>
  <button (click)="countDown.startCountdown(); counterProgress=0;">ReLoad</button>
</div> -->

<router-outlet></router-outlet>
